.flex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main{
height: 400px;
width: 300px;
background-color: rgba(178, 175, 186, 0.93);
border-radius: 5px;
box-shadow: 1px 1px 1px;
margin-left: auto;
margin-right: auto;
}

#a, #b{
text-align: right; 
}

.ecran{
  height: 150px;
  width: 250px;
  background-color: white;
  box-shadow: inset 1px 1px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.donné{
  height: 60px;
  width: 250px;


}

.bouton{

  height: 130px;
  width: 250px;
}
.taille{
  width: 130px;
}
